body {
    background-color: red;
}

body {
    font-size:30
}

body1 {
    font-size:15
}

body2 {
    font-size:13
}

.navigation {
    overflow: hidden;
    background-color: #888;
    position: fixed;
    
    top: 0;
    width: 100%;
    text-decoration: none;
    height: 5%;
}

